.order-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px 25px 50px;

  @media screen and (max-width: 992px) {
    padding: 20px;
  }

  @media screen and (max-width: 568px) {
    padding: 10px;
  }

  &__basket-title {
    display: flex;
    flex-direction: row;
    align-items: center;


    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
    padding-left: 20px;

    @media screen and (max-width: 1200px) {
      font-size: 50px;
    }
    @media screen and (max-width: 992px) {
      font-size: 40px;
      display: none;
    }
  }

  &__back {
    cursor: pointer;

    img {
      padding-right: 10px;
    }

    span {
      font-weight: 500;
      font-size: 18px;
      color: #CAD7F9;
    }
  }

  &__back-img-text {
    display: flex;
    padding-left: 35px;
  }
}

::ng-deep mat-dialog-container {
  background-color: #10111C !important;
  height: auto !important;
}

mat-dialog-actions {
  justify-content: space-evenly !important;
}

.order-footer {
  padding-top: 50px;
  display: flex;
  padding-bottom: 50px;

  @media screen and (max-width: 992px) {
    padding: 30px 20px;
  }


  &__tax {
    font-weight: 500;
    font-size: 18px;
    color: #CAD7F9;
    @media screen and (max-width: 992px) {
      flex-basis: 50%;
    }
    @media screen and (max-width: 568px){
      font-size: 16px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    color: #CAD7F9;
    @media screen and (max-width: 992px) {
      flex-basis: 50%;
      text-align: end;
    }
    @media screen and (max-width: 568px){
      font-size: 16px;
    }
  }

  &__total-price {
    @media screen and (max-width: 992px) {
      margin-top: 20px;
      flex-basis: 50%;
    }
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__total-price-text {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;

    @media screen and (max-width: 568px) {
      font-size: 18px;
    }
  }

  &__total-price-price {
    color: #FFB800;
    font-size: 20px;
    font-weight: bold;

    @media screen and (max-width: 568px) {
      font-size: 18px;
    }
  }

  &__submit {
    text-transform: uppercase;
    background-color: #72B85A;
    font-size: 16px;
    color: #ffffff;
    padding: 13px 35px;
    border-radius: 45px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease-in-out .3s;
    border: 1px solid #72B85A;

    @media screen and (max-width: 992px) {
      margin-top: 20px;
    }

    @media screen and (max-width: 568px) {
      margin-top: 20px;
      font-size: 12px;
      padding: 10px 24px;
    }

    &:hover {
      background-color: #10111C;
      color: #72B85A;
      transition: all ease-in-out .3s;
      border: 1px solid #72B85A;
    }

    &:active, &:focus {
      outline: none;
    }
  }
}

.empty-order {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

::ng-deep mat-dialog-content {
  @media screen and (max-width: 1920px) {
    max-height: 65vh !important;
  }

  @media screen and (max-width: 1366px) {
    max-height: 400px !important;
  }

  @media screen and (max-width: 768px){
    max-height: 55vh!important;
  }

  @media screen and (max-width: 320px) {
    max-height: 42vh !important;
  }
}
